// Fonts variables
$title-text: 'Noto Sans', sans-serif;
$general-text: 'Biryani', sans-serif;
$other-text: 'IM Fell English', serif;

// Colors variables
$primary-dark: #40407a;
$primary-light: #474787;
$accent-dark: #cd6133;
$accent-light: #ff793f;
$other-dark: #d1ccc0;
$other-light: #ffffff;