@import './style.scss';

//Border, color and shadow >> All cards
.card {
 position: relative;
 height: fit-content;
 min-width: fit-content;
 display: flex;
 border: none;
 border-radius: 30px;
 outline: none;
 background-color: $primary-dark;
 box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
 margin: 5px;
 cursor: pointer;

 //Max width and paddin >> Game card
 &.game {
  max-width: 400px;
  padding: 25px;
 }

 //Max width and paddin >> Player card
 &.player {
  max-width: 300px;
  padding: 20px;
 }
}

//Positioning, align and color >> Notification icon
.notification-icon {
 text-align: center;
 position: absolute;
 top: -5px;
 right: -5px;
 border-radius: 100%;
 width: 30px;
 height: 30px;
 outline: none;
 background-color: $accent-light;
}

//Positioning, size and color >> Online Status
.circle-icon {
 position: absolute;
 right: 25px;
 width: 20px;
 height: 20px;
 border-radius: 100%;
 background-color: $other-green;
}

//Font family and color >> Card names
.game-name,
.player-name {
 font-family: $title-text;
 font-weight: 700;
 color: $other-light;
 padding-bottom: 15px;
}

//Font size >> Game name
.game-name {
 font-size: 24px;
}

//Font size >> Player name
.player-name {
 font-size: 18px;
}

//Font family, color and size >> Game schedule
.next-game {
 font-family: $general-text;
 color: $other-dark;
 font-weight: 400;
 font-size: 18px;
}

//Font color >> Date and day
.date,
.day {
 color: $accent-light;
}

//Spacing, Font and color >>  Stats
.game-stats,
.player-stats {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 color: $accent-light;
 font-family: $general-text;
 font-weight: 400;
}

//Padding and size >> Game stats
.game-stats {
 padding-top: 15px;
 font-size: 20px;
}

//Padding and size >> Player stats
.player-stats {
 padding-top: 25px;
 font-size: 15px;
}

//Postion adjustment >> Card icons
.card-icon {
 position: relative;
 bottom: 3px;
}

//Position adjustment >> King icon
.king-icon {
 position: relative;
 bottom: 6px;
}