.checkbox {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: content-box;
    overflow: hidden;
}

.checkbox {
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 2px;

    &-container {
        position: relative;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        bottom: 1rem;
        height: 25px;
        background-color: $primary-light;
    }

    &-label {
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        left: 10px;
        color: $other-dark;
    }

    &::before {
        content: '';
        display: block;
        box-sizing: content-box;
        width: 16px;
        height: 16px;
        border: 1px solid $other-dark;
        transition: 0.2s border ease, 0.2s background-color ease;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        box-sizing: content-box;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
        width: 9.3px;
        height: 17px;

        transform: translate(-50%, -85%) scale(0) rotate(45deg);
        background-color: transparent;
        box-shadow: 3px 3px 0px 0px $other-light;
    }

    &:checked {
        &::before {
            border-color: $accent-light;
            background-color: $accent-light;
        }

        &::after {
            -webkit-animation: toggleOnCheckbox 0.2s ease forwards;
            animation: toggleOnCheckbox 0.2s ease forwards;
        }
    }
}

@-webkit-keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}

@keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        transform: translate(-50%, -85%) scale(0) rotate(45deg);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
    }
}

/*

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $other-dark;
}
*/
