@import './style.scss';

// Layouts
@import './home-layout.scss';

.date-password-box {
    background-color: $primary-dark;
    color: $other-dark;
    box-shadow: 2px 2px 4px rgba(27, 15, 15, 0.1);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 200px;

    .standard-label {
        font-size: 16px;
        font-weight: bold;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 12px;
        margin-left: 15px;
    }
    
    .next-game {
        font-size: 12px;
        position: relative;
        top: 8px;
        right: 8px;
    }

    .standard-input {
        outline: none;
        color: $other-dark;
        background-color: $primary-dark;
        border: 2px solid $accent-light;
        border-radius: 20px;
        height: 50px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

        &:focus {
            outline: none;
            color: $other-dark;
            background-color: $primary-dark;
            border: 2px solid $accent-light;
            border-radius: 20px;
            height: 50px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
            font-size: 16px;
            color: $other-dark;
        }
    }
    
    .date-box {
        display: flex;
        flex-direction: row-reverse;

        .date-input {
            padding-left: 15px;
            height: 35px;
        
            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
                position: relative;
                right: 15px;
            }
        }
    }
    
    .password-box {
        display: block;

        .password-input {
            padding-left: 35px;
            padding-top: 5px;
        }
    }
    
    .icon {
        color: $other-dark;
        position: relative;
        z-index: 1;
    }
    
    .lock {
        top: 75px;
        left: 15px;
    }
    
    .eye {
        display: flex;
        flex-direction: row-reverse;
        top: -31px;
        right: 15px;
    }
}
