@import './style.scss';

// Layouts
@import './home-layout.scss';

.password-label {
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    margin-left: 15px;
}

.password-input, .date-input {
    outline: none;
    color: $other-dark;
    background-color: $primary-dark;
    border: 2px solid $accent-light;
    border-radius: 20px;
    height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 35px;
    padding-top: 5px;

    &:focus {
        outline: none;
        color: $other-dark;
        background-color: $primary-dark;
        border: 2px solid $accent-light;
        border-radius: 20px;
        height: 50px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        padding-left: 35px;
        padding-top: 5px;
    }

    &::placeholder {
        font-size: 16px;
        color: $other-dark;
    }
}

.icon {
    color: $other-dark;
    position: relative;
    z-index: 1;
}

.lock {
    top: 75px;
    left: 15px;
}

.eye {
    display: flex;
    flex-direction: row-reverse;
    top: -31px;
    right: 15px;
}
.calendar {
    right: 34px;
}
