@import './style.scss';

// Layouts
@import './home-layout.scss';

// Label name => 'Senha'
.password-label {
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    margin-left: 15px;
}

// Input Password => placeholder => 'Senha'
.password-input, .password-input:focus {
    outline: none;
    color: $other-dark;
    background-color: $primary-dark;
    border: 2px solid $accent-light;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 35px;
    padding-top: 5px;
}

.password-input::placeholder {
    color: $other-dark;
}

// Icons
.fa-solid {
    color: $other-dark;
    position: relative;
    top: 44px;
    left: 17px;
    z-index: 1;
}

.eye-icon {
    position: relative;
    top: -31px;
    left: 266px;
}
