@import './style.scss';

@import './home-layout.scss';

@import './components.scss';

.date-box {
    display: flex;
    flex-direction: row-reverse;
    margin: 6px;

    .date-input {
        padding-left: 15px;
    
        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
            position: relative;
            right: 10px;
        }
    }
}

.next-game {
    font-size: 12px;
    position: relative;
    top: 13px;
    right: 8px;
}
