@import './style.scss';

@import './home-layout.scss';

@import './components.scss';

.password-box {
    margin: 6px;

    .password-input {
        padding-left: 35px;
    }
}

.icon {
    color: $other-dark;
    position: relative;
    z-index: 1;

    &-lock {
        top: 49px;
        left: 15px;
    }

    &-eye {
        display: flex;
        flex-direction: row-reverse;
        float: right;
        top: -31px;
        right: 15px;
    }
}
