@import './style.scss';

@import './home-layout.scss';

@import './components.scss';

.text-input {
    margin: 6px;
    
    & .input-box {
        padding-left: 25px;
    }

    & .standard-label {
        margin-left: 18px;
    }
}
