@import './style.scss';

// Layouts
@import './home-layout.scss';

// Label name => 'Senha'
.pswd-label {
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -10px;
}

// Input Password => placeholder => 'Senha'
.pswd-input, .pswd-input:focus {
    outline: none;
    color: $other-dark;
    background-color: $primary-dark;
    border: 2px solid $accent-light;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 38px;
    padding-top: 8px;
}

.pswd-input::placeholder {
    color: $other-dark;
    margin-top: 2px;
}

// Icons
.fa-solid {
    color: $other-dark;
    position: relative;
    top: 44px;
    left: 17px;
}

.eye-icon {
    position: relative;
    top: -31px;
    left: 266px;
}

// 

#pswd-form {
    border: none;

    &ul, li {
        margin:0;
        padding:-1px;
        list-style-type:none;
    }
}

.pswd-info {
    display: none;
    
    position:absolute;
    bottom: -75px;
    bottom: -115px\9;
    right: 55px;
    width: 250px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;

    &h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }

    &::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }
}

.invalid {
    background: url(../images/cancel.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}
.valid {
    background: url(../images/accept.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
