@import '@/assets/scss/style.scss';

#home-page {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.content {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        text-align: center;
    }

    .project-details {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    table {
        margin-top: 20px;
    }

    td,
    th {
        border: 1px solid #999;
        padding: 0.5rem;
    }
}
