<div id="components">
    <div class="header">
        <h1 class="title">Components</h1>
    </div>

    <div class="row text input">
        <div class="container-text-input-box">
            <h3>Inputs</h3>

            <p>Normal</p>

            <input class="input-box" type="text" placeholder="First name" />
        </div>

        <p>Text</p>
    </div>

    <div class="row password input date-password-box">
        <div class="password-box" id="password">
            <i class="fa fa-lock icon lock"></i>
            <label class="standard-label">Senha</label>
            <input type="password" class="form-control password-input standard-input" placeholder="Senha" required="required"/>
            <i class="fa fa-eye-slash icon eye"></i>
        </div>
        <div class="date-box" id="date">
            <input type="date" class="date-input standard-input">
            <small class="standard-label next-game">Próximo jogo:</small>
        </div>
    </div>


    <div class="row-dropdown-input container" id="games">
        <fieldset class="dropdown-container">
            <button type="button" class="dropdown dropdown-btn"></button>
            <div class="dropdown dropdown-list">
                <ul>
                    <li class="dropdown-item selected">Select one</li>
                    <li class="dropdown-item">Dugeons&Dragons</li>
                    <li class="dropdown-item">Vampire 5e</li>
                </ul>
            </div>
        </fieldset>
    </div>

    <div class="row buttons input">
        <!-- Buttons input -->
        <p>Buttons</p>

        <!-- Button containing only text accent color -->
        <button type="button" class="button text-only accent">
            <span class="button-text">Entrar</span>
        </button>

        <!-- Button containing only text primary color -->
        <button type="button" class="button text-only primary">
            <span class="button-text">Entrar</span>
        </button>

        <!-- Button containing text and icon accent color -->
        <button type="button" class="button icon-and-text accent">
            <span class="button-icon">
                <img src="/src/assets/images/Icon-Jogos.png" />
            </span>
            <span class="button-text">Jogos</span>
        </button>

        <!-- Button containing text and icon primary color -->
        <button type="button" class="button icon-and-text primary">
            <span class="button-icon">
                <img src="/src/assets/images/Icon-Usuarios.png" />
            </span>
            <span class="button-text">Usuários</span>
        </button>

        <!-- Round button accent color -->
        <button type="button" class="button round accent">
            <span class="button-text">+</span>
        </button>
        <div class="container-checkbox-component">
            <p>Checkbox</p>
            <fieldset id="checkbox-group-filled">
                <label for="input-checkbox">
                    <input type="checkbox" id="input-checkbox" name="checkbox-group-filled" class="filled" checked />
                    <span class="label-text">Lembrar-se</span>
                </label>
            </fieldset>
        </div>
    </div>
</div>
