<div id="components">
    <div class="header">
        <h1 class="title">Components</h1>
    </div>

    <div class="row text input">
        <!-- Text input here -->
        <p>Text</p>
    </div>

    <div class="row password input">
        <!-- Password input here -->
        <p>Password</p>
        <div class="container-fluid col-md-4 password-box"> 
            <label for="control-label" class="password-label">Senha</label>
            <input type="password" class="form-control password-input" placeholder="Senha">
            <i class="fa-solid fa-lock lock-icon" id="lock-icon"></i>
        </div>
    </div>

    <div class="row dropdown input">
        <!-- Dropwdown input -->
        <p>Dropdwon</p>
    </div>

    <div class="row buttons input">
        <!-- Buttons input -->
        <p>Buttons</p>
    </div>
</div>