<div id="components">
    <div class="header">
        <h1 class="title">Components</h1>
    </div>

    <div class="row text input">
        <!-- Text input here -->
        <p>Text</p>
    </div>

    <div class="row password input">
        <!-- Password input here -->
        <p>Password</p>
    </div>

    <div class="row dropdown input">
        <!-- Dropwdown input -->
        <p>Dropdwon</p>
    </div>

    <div class="row buttons input">
        <!-- Buttons input -->
        <p>Buttons</p>
        
        <!-- Button containing only text accent color -->
        <button type="button" class="button-text-only-accent">
            <span class="button-text">Entrar</span>
        </button>

        <!-- Button containing only text primary color -->
        <button type="button" class="button-text-only-primary">
            <span class="button-text">Entrar</span>
        </button>
        
        <!-- Button containing text and icon accent color -->
        <button type="button" class="button-icon-and-text-accent">
            <span class="button-icon">
                <img src="/src/assets/images/Icon-Jogos.png">
            </span>
            <span class="button-text">Jogos</span>
        </button>
        
        <!-- Button containing text and icon primary color -->
        <button type="button" class="button-icon-and-text-primary">
            <span class="button-icon">
                <img src="/src/assets/images/Icon-Usuarios.png">
            </span>
            <span class="button-text">Usuários</span>
        </button>

        <!-- Round button accent color -->
        <button type="button" class="button-round-accent">
            <span class="button-text">+</span>
        </button>
    </div>
</div>