@import '@/assets/scss/style.scss';

// Import Components Scss
@import '@/assets/scss/dropdown.scss';

// page scss
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-dropdown-input {
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        min-width: 170px;
    }
}
