@import '@/assets/scss/style.scss';
@import '@/assets/scss/buttons.scss';
@import '@/assets/scss/input-password.scss';
@import '@/assets/scss/input-date.scss';

// Import Components Scss
@import '@/assets/scss/dropdown.scss';

@import '@/assets/scss/input-box.scss';
@import '@/assets/scss/checkbox.scss';

// page scss
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-dropdown-input {
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 170px;
    }
}

.row-password-date-input {
    background-color: $primary-dark;
    padding: 10px;
    //Space to put away from other components (optional)
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-checkbox {
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.container-text-input-box {
    min-width: 200px;
    margin: 20px;
    margin-bottom: 20px;
    background-color: $primary-light;
    color: $other-light;
}

.text-input-box h3,
p {
    margin-left: 10px;
    margin-top: 10px;
}

.container-checkbox-component {
    min-width: 200px;
    margin: 20px;
    margin-bottom: 20px;
    background-color: $primary-light;
    color: $other-light;
}

