@import '@/assets/scss/style.scss';
@import '@/assets/scss/buttons.scss';
@import '@/assets/scss/input-password.scss';
@import '@/assets/scss/input-date.scss';

// Import Components Scss
@import '@/assets/scss/dropdown.scss';

@import '@/assets/scss/input-box.scss';
@import '@/assets/scss/checkbox.scss';

// page scss
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-dropdown-input {
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 170px;
    }
}

.row-password-input, .row-date-input {
    background-color: $primary-dark;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-checkbox {
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.row-text-input{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $primary-light;

    .text-input-container {
        & p,h3 {
            margin-left: 10px;
            margin-top: 10px;
            color: $other-light;
        }
    }
    .container {
        width: 100%;
        min-width: 200px;
    }
}

.container-checkbox-component {
    min-width: 200px;
    margin: 20px;
    margin-bottom: 20px;
    background-color: $primary-light;
    color: $other-light;
}
