<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
    </head>
    <body class="home home-background">
        <nav class="home-navbar">
            <div class="logo">
                <a href="/home">Mesa Computaria</a>
            </div>
            <ul>
                <li>
                    <a href="/components">Components</a>
                </li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </nav>

        <div class="home-content">
            <!-- Required -->
            <div id="app"></div>
        </div>
    </body>
</html>
